# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files









# Mac DS_Store Files
.DS_Store


# local phpunit config
/phpunit.xml

# vagrant runtime

